{% extends 'base.html' %}

{% load static %} 

{% block title %}Landing{% endblock%}

{% block content %}

{% if request.user.is_authenticated %} 
{{ home_page.html }}
{% else %}
<div id="container">
  <img
    src="{% static 'images/logo/picture_1.webp' %}"
    alt="peachesncream logo"
    id="logo"
  />
  <p>
    Take your shopping to the next level with this app that will help you write
    and get your lists right at your finger tips.<br />
    <a href="{% url 'account_signup' %}" class="waves-effect btn">SIGN UP</a>
    now to create your shopping list.<br />
  </p>
</div>
{% endif %} 

{% endblock %}
