@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Raleway&display=swap');

*{
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
    color: #030203;
    font-size: 1.2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #fff6f5;
}

/* Headings */

h1,h2,h3,h4,h5,h6 {
    font-family: 'Homemade Apple', cursive;
    color: #030203;
    padding: 1rem 0;
    margin: auto;
}

h1 {
    font-size: 2.56rem;
}

h2 {
    font-size: 2.28rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.71rem;
}

h5 {
    font-size: 1.43rem;
}

h6 {
    font-size: 1rem;
}

/* Header */

.nav-wrapper,
nav ul a,
i.material-icons,
.waves-effect {
    color: #030203;
}

.nav-wrapper{
    padding-right: 4rem;
}

nav ul a {
    font-weight: bold;
}

/* Main */

main {
    flex: 1 0 auto;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo {
    height: 35%;
    width: 35%;
    padding: 1rem 0;
    margin-top: 1rem;
}

#container p {
    text-align: center;
}

i.small {
    padding-top: 0.80rem;
}



/* Form */

.waves-effect {
    background-color: #8c9f38;
    border-radius: 23px;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

form > button {
    margin-top: 1rem;
}

/*Sign in */

#title {
    margin-top: 2rem;
    padding-top: 2rem;
}

p {
    padding: 0.5rem 0;
    margin: auto;
}

#content {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Sign up */

.row {
    margin-top: 1rem;
    margin-bottom: 0;
}
/* Logout */

#logout {
    margin-top: 4rem;
}

#title-1 {
    margin-top: 2rem;
    padding-top: 2rem;
}

#content-1 {
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

/* Footer */

footer {
    background-color: #BD8180;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    margin: 0;
    padding: 0.5rem 0;
}

.social-links {
    padding-bottom: 0.5rem;
}

.social-links img {
    height: 2rem;
    width: 2rem;
}

.btn-floating {
    background-color: #ee6e73; 
}


/* Media queries */

/* Small screens until 600px */
@media  screen and (max-width: 590px) {
    #container {
       margin-top: 4rem;
    }
}

