{% load static %}

<footer>
    <div>
        <p>Powered by Sara Bojorge</p>
    </div>
    <div class="social-links">
        <a href="https://github.com/sbojorge" target="_blank" rel="noopener"
            aria-label="Follow me on Github (opens in new tab)">
            <img src="{% static '/icons/github-icon.svg' %}" alt="Github icon">
        </a>
        <a href="https://www.linkedin.com/in/sara-bojorge-66343715b/" target="_blank" rel="noopener"
            aria-label="Follow me on Linkedin (opens in new tab)">
            <img src="{% static '/icons/linkedin-round-icon.svg' %}" alt="Linkedin icon">
        </a>
    </div>
</footer>