{% load static %} 

<header>
    <!-- Desktop navbar -->
    <nav>
        <div class="nav-wrapper">
            <!-- <a href="#" class="brand-logo">Peaches n cream</a> -->
            <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                {% if request.user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Logout</a></li>
                <li><a href="{% url 'add_list' %}">Add list</a></li>
                <li><a href="{% url 'index' %}">My lists</a></li>
                {% else %}
                <li><a href="{% url 'landing' %}">Home</a></li>
                <li><a href="{% url 'add_list' %}">Create list</a></li>
                <li><a href="{% url 'account_signup' %}" class="waves-effect btn">SIGN UP</a></li>
                <li><a href="{% url 'account_login' %}">Sign in</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Mobile navbar -->

    <ul class="sidenav" id="mobile-demo">
        {% if user.is_authenticated %}
            <li><a href="{% url 'landing' %}">Home</a></li>
            <li><a href="{% url 'account_logout' %}">Logout</a></li>
            <li><a href="{% url 'add_list' %}">Add list</a></li>
            <li><a href="{% url 'index' %}">My lists</a></li>
           
        {% else %}
            <li><a href="{% url 'landing' %}">Home</a></li>
            <li><a href="{% url 'add_list' %}">Create list</a></li>
            <li><a href="{% url 'account_signup' %}">SIGN UP</a></li>
            <li><a href="{% url 'account_login' %}">Sign in</a></li>
        {% endif %}
    </ul>    
</header>
