{% extends 'base.html' %}
{% load materializecss %}

{% load static %}

{% block title %}Create shopping list{% endblock %} 

{% block content %}

<div class="container row">
  <div class="col s10 m8 push-s1 push-m2">
    <h1 class="center-align">Create a shopping list</h1>
    <div class="divider"></div>
    <div class="input-field section">
      <form method="POST">
        {% csrf_token %} 
        {{ form.media }}
        {{ form.as_p }}
        <button type="submit" class="waves-effect btn">Create list</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
