{% extends 'base.html' %} 

{% load static %}

{% block title %}Edit {{ grocery.name }}{% endblock %}

{% block content %}


<div class=" container row">
    <div class="col s10 m8 push-s1 push-m2">
        <h1>Edit grocery shopping list </h1>
        <div class="divider"></div>
        <div class="section">
            <form method="POST">
                {% csrf_token %} 
                {{ form.media }}
                {{ form.as_p }}
            <button type="submit" class='waves-effect btn'>Update list</button>
            </form>             

        </div>
    </div>
</div>
{% endblock %} 