{% extends 'base.html' %} 

{% block title %}My grocery shopping lists{%endblock%}

{% block content %}

<div class="container row">
  <div class="col s10 m8 push-s1 push-m2">
    <h1 class="center-align">My shopping lists</h1>

    {% for grocery in grocerys %}
    <div class="divider"></div>
    <div class="section">
      <ul>
        <li style="color: #0055b2">
          <a
            href="{% url 'display_item' grocery.id %}"
            aria-label="Click to display the items within this list"
            >{{ grocery.name }}</a
          >
        </li>

        <li>created on {{ grocery.created_on }}</li>
        <li>updated on {{ grocery.updated_on }}</li>
      </ul>
      {% empty %}
      <p>You don't have any list</p>

      {% endfor %}
      <div class="divider"></div>
      <div class="section">
        <a
          href="{% url 'add_list' %}"
          class="btn-floating btn-large waves-effect"
          ><i class="material-icons">add</i></a
        >
      </div>
    </div>
  </div>
</div>
{% endblock %}
