{% extends 'base.html' %}

{% block title %}My grocery shopping lists{% endblock %}

{% block content %}

<div class="container row">
    <div class="col s12 m8 l9">
        <h1>My grocery shopping lists</h1>
        
            {% for grocery in grocerys %}
            <div class="divider"></div>
            <div class="section">
                <ul>

                    <a href="{% url 'display_item' grocery.id %}" aria-label="Click to display the items within this list">
                        <li>{{ grocery.name }}</li>
                    </a>
                    <li>created on {{ grocery.created_on }}</li>
                    <li>updated on {{ grocery.updated_on }}</li><!-- an if statement to display it only if updated -->
                    {% empty %}
                    <p>You don't have any list</p>
                </ul>
                
                {% endfor %}
                <div class="divider"></div>
                <div class="section">
                <a href="{% url 'add_list' %}" class="btn-floating btn-large waves-effect"><i
                    class="material-icons">add</i></a>


            </div>
        </div>
    </div>
    {% endblock  %}