{% extends 'account/base.html' %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container row center-align" id="logout">
  <div class="col s10 m8 push-s1 push-m2" id="title-1">
    <h1>{% trans "Sign Out" %}</h1>
    <p>{% trans 'Are you sure you want to sign out?' %}</p>
  </div>
  <div class="col s10 m8 push-s1 push-m2" id="content-1">
    <form class="form" method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button type="submit" class="waves-effect btn">{% trans 'Sign Out' %}</button>
    </form>
  </div>
</div>
{% endblock %}
